page-home {

  .question-text {
    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 2.5vh;
    font-family: inherit;
  }
  .answer {
    transition: 1s background-color, 1s color;    
    padding: 1.5vh 2vh;
    margin-top: 1vh;
    background-color: color($colors, darker);
    color: color($colors, light);
    border-radius: 2vh;
    font-size: 2.5vh;
  }
  .answer:hover {
    background-color: #b2b2b2;
    color: color($colors, dark);
  }
}
